{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    {% if not g.user['spotify_id'] %}
        <p>MusicMerge uses your unique Spotify listening data to curate the perfect playlist for you and your friends!</p>
        <p>Please link your Spotify account to proceed:</p>
        <a href="{{ url_for('match.link') }}">Link Account</a>
    {% else %}
        <p>Spotify account successfully linked!</p>
        <p>Click here to refresh your songs: <a href="{{ url_for('match.clear') }}">Refresh</a></p>
        <p>Please select a user (or multiple users) to compare songs against:</p>
        <form action="{{ url_for('match.compare') }}" method="POST">
            <ol>
                {% for user in users%}
                    <input type="checkbox" name="user" value="{{ user[1] }}"> {{ user[2] }} <br>
                {% endfor %}
                <br>
                <input type="submit" value="Merge">
             </ol>
        </form>
        
        <p>Your Songs:</p>
        <ol>
            {% for item in data %}
                <li>{{ item[0] }} - {{ item[3] }}</li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}