{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    {% if not g.user['spotify_id'] %}
        <p>MusicMerge uses your unique Spotify listening data to curate the perfect playlist for you and your friends!</p>
        <p>Please link your Spotify account to proceed:</p>
        <a href="{{ url_for('match.link') }}">Link Account</a>
    {% else %}
        <p>Spotify account successfully linked!</p>
        <p>Click here to refresh your songs: <a href="{{ url_for('match.clear') }}">Refresh</a></p>
        <p>Please select a user to compare songs against:</p>
        <ol>
            {% for user in users%}
                <li><a href="/match/compare?user={{ user[0] }}">{{ user[0] }}</a></li>
            {% endfor %}
        </ol>
        <p>Your Songs:</p>
        <ol>
            {% for item in data %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}