{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    {% if not g.user['spotify_id'] %}
        <p>Please link your Spotify account</p>
        <a href="{{ url_for('match.link') }}">Link Account</a>
    {% else %}
        <p>Spotify account successfully linked: {{ g.user['spotify_id'] }}</p>
        <p>Access Token: {{ g.user['access_token'] }}</p>
        <ol>
            {% for item in data %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}