<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: limegreen;
        }
    </style>
    <title>{% block title %}{% endblock %} - Musical Personality</title>
    {% endblock %}
</head>
<body>
    <nav>
        <h1>Musicality</h1>
        <ul>
            {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div id="content">{% block content %}{% endblock %}</div>
    <br><br>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2018 by <a href="http://dillonfranke.com">Dillon Franke</a>.
        {% endblock %}
    </div>
</body>
</html>